PORTAL_SEARCH_URL=https://www.portalinmobiliario.com/REEMPLAZAR
SEARCH_KEY=busqueda-principal
ALERT_PRICE_DROPS=true
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

