PORTAL_SEARCH_URLS="https://www.portalinmobiliario.com/arriendo/departamento/providencia-metropolitana/_PriceRange_0CLP-850000CLP_BEDROOMS_1-2_NoIndex_True
https://www.portalinmobiliario.com/arriendo/departamento/vitacura-metropolitana/_PriceRange_0CLP-850000CLP_BEDROOMS_1-2_NoIndex_True"
ALERT_PRICE_DROPS=true
STATE_FILE=state.json
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
